body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    display: flex;
    height: 100%;
}
.left-panel {
    width: 30%;
    background-color: #d3d6d8; /* Background color for left panel */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.right-panel {
    width: 70%;
    background-color: #dff8f0; /* Background color for right panel */
    padding: 20px;
}
.content {
    display: none;
}
.content:target {
    display: block;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px; /* Adjust top margin as needed */
}
*{
    font-style: italic;
    font-size:large;
    text-justify: auto;
    text-transform: calc();
}

h2{
    color:rgb(50, 7, 244);
    font-size:x-large;
}

.tb{
    border:2px solid;
    border-radius: 2%;
    border-color: cyan;


}

.table{
    border:2px;
    border-style: solid;
    border-radius: 10px;
    border-color: cyan;
   
    
}

li{
    color:rgb(228, 41, 175);
}

ol{
    list-style-type: square;
    
}

h3{
    color:green;
}

p{
    color:rgb(228,41,175);
    text-shadow:#6d99b6;
    
}